@import "~normalize.css";
@import "fonts.css";

body {
    font-family: 'PressStart2P', sans-serif;
    margin: 0;
}

.section {
    text-align:center;
}

.typeText {
    font-size: 2em;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-image: url("../assets/fungus.png");
    background-size: cover;
}



